# 复制这个最简单的版本即可使用
name: .NET Framework Build

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: msbuild PackageManager.sln /p:Configuration=Debug
